/* Color Theme Swatches in Hex 
.Poseidon-1-hex {
  color: #012030;
}

.Poseidon-2-hex {
  color: #13678A;
}

.Poseidon-3-hex {
  color: #45C4B0;
}

.Poseidon-4-hex {
  color: #9AEBA3;
}

.Poseidon-5-hex {
  color: #DAFDBA;
}
*/

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.img_wolf {
  width: 500px;
}

.nav {
  background-color: #DAFDBA;
  display: block;
  overflow: hidden;
  width: 100%;
}

.nav a {
  text-decoration: none;
  font-size: 20px;
  color: #261813;
  padding: 8px;
  display: inline-block;
}

.nav a:hover {
  color: #fff;
  background-color: #45C4B0;
  /* text-shadow: 2px 0 #13678A; */
  transition: 0.2s;
  /* text-shadow: 2px 0 #13678A, -2px 0 #13678A, 0 2px #13678A, 0 -2px #13678A,
    1px 1px #13678A, -1px -1px #13678A, 1px -1px #13678A, -1px 1px #13678A; */
}

.nav a:not(:hover) {
  color: #261813;
  background-color: #DAFDBA;
  transition: 0.2s;
}

.about-me {
  background-color: #9AEBA3;
  padding: 40px;
}

.my-friends {
  background-color: #45C4B0;
  padding: 40px;
}

.friends-living {
  background-color: #13678A;
  padding: 40px;
}

.my-friends ul {
  padding-left: 20px;
}

.mygroup {
  background-color: #9AEBA3;
  padding-top: 40px;
}

.mygroup h1 {
  padding-left: 40px;
  padding-bottom: 40px;
}

.mygroup ul {
  padding-left: 40px;
}

.group-blair {
  background-color: #45C4B0;
  padding: 40px;
}

.group-jack {
  background-color: #13678A;
  padding: 40px;
}

.group-kyrylo {
  background-color: #45C4B0;
  padding: 40px;
}

.kharkiv {
  background-color: #9AEBA3;
  padding: 40px;
}

.pictures {
  background-color: #45C4B0;
  padding: 40px;
}

.map {
  background-color: #13678A;
  padding: 40px;
}

.contact {
  background-color: #9AEBA3;
}

.contact-media {
  padding: 40px;
}

.contact iframe {
  padding-left: 40px;
  padding-top: 40px;
}

.forma {
  background-color: #45C4B0;
  padding: 40px;
}

footer {
  text-align: center;
  background-color: #DAFDBA;
}

footer p {
  padding-top: 40px;
}

footer a {
  color: #000;
}

footer a:hover {
  color: #13678A;
}

/* ======================== RESPONSIVE ======================== */
@media screen and (max-width: 600px) {
  body {
    background-color: red;
  }
}

@media screen and (max-width: 992px) {
  body {
    background-color: green;
  }
}